@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #bebbbb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.customgrad {
  background: #088936;
  background: linear-gradient(301deg, rgba(8, 137, 54, 1) 0%, rgba(0, 44, 16, 1) 50%);
}
.Account {
  transform: scale(0);
  border-bottom: 4px solid #22c55e;
  height:0px;
  background: #088936;
  background: linear-gradient(301deg, rgba(8, 137, 54, 1) 0%, rgba(0, 44, 16, 1) 50%);
}
.shimmergreen {
  background: linear-gradient(
    120deg,
    transparent,
    rgba(0, 255, 128, 0.3),
    transparent
  );
  animation: shimmer 2s infinite;
}
@keyframes shimmer {
  0% {
    left: -60%;
  }
  100% {
    left: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .Account {
    height:10vh;
    background: #088936;
    background: linear-gradient(301deg, rgba(8, 137, 54, 1) 0%, rgba(0, 44, 16, 1) 50%);
  }
  
}
