name: Mirror Repository

on:
  workflow_dispatch:
  push:
    branches:
      - main  # or your default branch

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.MIRROR_TOKEN }}   # <-- important

      - name: Add mirror remote and push
        env:
          MIRROR_TOKEN: ${{ secrets.MIRROR_TOKEN }}
        run: |
          git remote add mirror https://legitem2023:${MIRROR_TOKEN}@github.com/adivisojay-droid/logisticfrontend.git
          git push --mirror mirror
