name: Auto Mirror

on:
  push:
    branches:
      - '**'

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Git config
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

      - name: Push to mirror repo
        env:
          MIRROR_TOKEN: ${{ secrets.MIRROR_TOKEN }}
        run: |
          echo "Token length: ${#MIRROR_TOKEN}"
          git remote add mirror git remote add mirror https://legitem2023:${MIRROR_TOKEN}@github.com/adivisojay-droid/logisticfrontend.git
          git push --mirror mirror
